html, body {
  font-family: 'Lato', Sans Serif
}

.animated.list > .item {
  cursor:pointer;
}

.TopBar {
  padding-left: 15px;
  padding-top: 15px;
}

/* Flexbox for tab menu items, right align the date */

.ui.pointing.secondary.menu {
  display: flex;
}

.DateWrapper {
  margin: 5px;
  margin-left: auto
}

.react-datepicker {
  font-family: 'Lato', Sans Serif !important;
}

.react-datepicker__current-month {
  margin-bottom: 8px;
}

.react-datepicker__day {
  font-weight: normal;
}

/* Hide avatars on small screens */
@media (max-width: 550px){
  .ui.avatar.image {
    display: none !important;
  }
 }
